h1 {
    color: white;

}

.card-title {
    font-size: 80%;
}

.card-text {
    font-size: 70%;
}

.bg-gradient-custom {
    background: linear-gradient(to right, skyblue, royalblue);
}

.today-forecast {
    height: 140px;
}

button.form-control {
    color: white;
    background-color: royalblue;
}